#Div-MainSiza{
  background: rgb(120,118,114);
  background: linear-gradient(180deg, rgba(120,118,114,1) 0%, rgba(119,118,116,1) 58%, rgba(154,151,147,1) 100%, rgba(168,164,160,1) 100%, rgba(173,169,165,1) 100%, rgba(223,216,208,1) 100%);
  width: 100%;
  height: 5000px;
  max-width: 100%;
  max-height: 900px;
  padding-top: 8%;
  position: relative;
}
#Logo-and-title{
  /* border: 1px solid black; */
  height: 150px;
  width: 50%;
  margin-left: 33%;
  position: fixed;
  
}
#form-div{
/* border: 1px solid black; */
  height: 65%;
  width: 50%;
  position: fixed;
  margin-left: 396px;
  margin-top: 160px;

}
#logo-svg{
/* border: 1px solid black; */
 height: 100%;
 width: 30%;
 display: inline;
 float: left;
 position: relative;
}
#title{
/* border: 1px solid black; */
  height: 100%;
  display: inline;
  float: right;
  width: 69%;
  border-left: 2px solid white;
  position: relative;
}

#title-design{
  text-align: left;
  margin-top: 9%;
  margin-left: 4%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:1.2cm;
  color: white;

}
#second-title-design{
  display: inline;
  margin-left: 4%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.7cm;
  color: white;
  
}
#link-design{
  text-decoration: none;
  color: white;
}

#image-design{
  
  margin-top: -10%;
  width: 100%;
  height: 120%;
}
#svg-position{
  z-index: 1;
  position: absolute;
  top: -12px;
  left: -15px;
}

#BDLF-Title{
  margin-left: 47%;
  margin-top: 0%;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.text-design{
  font-size: 0.5cm;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  margin-left: 14%;
  margin-right: 1%;
  
}
.text-design1{
  font-size: 0.5cm;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  margin-left: 8%;
  margin-right: 1%;
  
}

.input-design{
  padding: 9px 20px;
  border-radius: 5px;
  border: 1px solid white;
  margin-top: -11px;
}
#button{
  padding: 9px 43px;
  border-radius: 9px;
  border: 1px solid white;
  margin-left:  78%;
  margin-top: 2%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
#sign-in-style{
  color: white;
    margin-left: 14%;
    font-family: 'Roboto Condensed', sans-serif;
}
#apply-admin{
  position: absolute;
  top: 0;
  left: 92%;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: fixed;

}
#footer{
      position: absolute;
    top: 93%;
    position: fixed;
    left: 50%;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}